<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profiles</title>
        <link rel="stylesheet" href="/public/site.css">
    </head>
    <body>
        <h1>Profiles</h1>
        <section class="profiles">
            <p>Username: {{username}} </p>
            <p>First Name: {{firstName}} </p>
            <p>Last Name: {{lastName}} </p>
            <p>Profession: {{profession}} </p>
            <p>Bio: {{bio}} </p>
        </section>
    </body>
</html>